obj
*.wmv
bin
deploy
deploy/*
*.pidb
*.trx
*.dll
*.dll.config
*.obj
*.tlog
*.sbr
*.bsc
*.pdb
*.idb
*.user
.svn
.svn/*
.DS_Store
.DS_Store/*
_ReSharper.*
.ReSharper.*
*.ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
~$*
~                       
Thumbs.db
